body {
	overflow: hidden;
	background: Snow;
}

#gridContainer {
	line-height: 0;
	position: absolute;
  margin: auto;
  right: 0;
  left: 0;
	font-family: 'noto san-serif';
	text-align: center;
}

.welcomeGrid {
	top: 0;
	bottom: 0;
}

.welcomeGridIn {
	animation-name: welcomeGridInAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

@keyframes welcomeGridInAnimation {
	from {top: -200vh;}
	to {top: 0vh;}
}

.welcomeGridOut {
	animation-name: welcomeGridOutAnimation;
	animation-duration: 1.5s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes welcomeGridOutAnimation {
	from {top: 0vh;}
	to {top: -200vh;}
}

.menuGrid {
	bottom : auto;
}

.menuGridIn {
	animation-name: menuGridInAnimation;
	animation-duration: 0.8s;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

@keyframes menuGridInAnimation {
	from {top: -30vh;}
	to {top: 10px;}
}

.menuGridOut {
	animation-name: menuGridOutAnimation;
	animation-duration: 0.8s;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
}

@keyframes menuGridOutAnimation {
	from {top: 10px;}
	to {top: -30vh;}
}

.pcRooms {
	width: 16px;
	height: 16px;
	border: solid;
	border-radius: 15px;
	border-width: 10px;
	border-color: Snow;
}

.mbRooms {
	width: 35px;
	height: 35px;
	border: solid;
	border-radius: 35px;
	border-width: 25px;
	border-color: Snow;
}

.off {
	background-color: Snow;
}

.idle {
	background-color: SkyBlue;
}

.light {
	background-color: PaleVioletRed;
}

.top {
	background-color: DarkSeaGreen;
}

.button {
	background-color: SkyBlue;
	transition: 0.5s;
}

.blink {
	opacity: 1;
	animation-name: blinkAnimation;
	animation-duration: 1s;
	animation-delay: 5s;
	animation-iteration-count: infinite;
}

@keyframes blinkAnimation {
	0% {opacity: 1;}
	79% {opacity: 1;}
	80% {opacity: 0;}
	100% {opacity: 0;}
}

.pcTitleMask {
	position: absolute;
	background-color: Snow;
	height: 30px;
	width: 140px;
	top: 25px;
	left: 290px;
}

.pcNameMask {
	position: absolute;
	background-color: Snow;
	height: 37px;
	width: 180px;
	top: 10px;
	right: 0px;
}

.mbMask {
	position: absolute;
	background-color: Snow;
	height: 55px;
	width: 320px;
	top: 58px;
	left: 355px;
}

#pcNextTrigger {
	position: absolute;
	height: 36px;
	width: 180px;
	top: 504px;
	left: 720px;
	opacity: 0;
	animation-name: NextTriggerAnimation;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

#pcNextTrigger:hover > .button {
	background-color: DarkSeaGreen;
}

#mbNextTrigger {
	position: absolute;
	height: 83px;
	width: 336px;
	top: 1105px;
	left: 425px;
	opacity: 0;
	animation-name: NextTriggerAnimation;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes NextTriggerAnimation {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.pcButtonTrigger {
	height: 36px;
	transition: 0.5s;
}

.pcButtonTrigger:hover > .button {
	background-color: DarkSeaGreen;
}

#pcButtonHome {
	position: absolute;
	top: 108px;
	left: 0px;
}

#pcButtonProfile {
	position: absolute;
	top: 108px;
	left: 216px;
}

#pcButtonPortfolio {
	position: absolute;
	top: 108px;
	left: 468px;
}

#pcButtonTitle {
	position: absolute;
	top: 108px;
	left: 756px;
}

.mbButtonTrigger {
	height: 85px;
}

#mbButtonHome {
	position: absolute;
	top: 85px;
	left: 510px;
}

#mbButtonProfile {
	position: absolute;
	top: 85px;
	left: 0px;
}

#mbButtonPortfolio {
	position: absolute;
	top: 170px;
	left: 0px;
}

#mbButtonTitle {
	position: absolute;
	top: 170px;
	left: 510px;
}
